*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  min-width: 650px;
  overflow-x: auto;
}

#root {
  min-width: 650px;
}

a{
  text-decoration: none;
  color: gold;
}

/*
body{
  background-color: #000;
  color: #fff;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
*/